/* Global Styles */

* {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #333333;
  }
  
  /* Text */
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  /* 3列に分けるためのスタイル */
  .button-container {
    display: flex;
    flex-wrap: wrap;
  }

  /* Button */
  .button, button {
    cursor: pointer;
    color: #0017C1;
    background-color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #0017C1;
    border: none;
    display: flex;
    width: 145px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  
  .button:hover, button:hover {
    font-weight: normal;
    background:#C5D7FB;
  }
  
  .button:active, button:active {
    /* TODO アクティブな状態を維持すること */
    cursor: auto;
    background:#9DB7F9;
  }